.contatos{
    text-align: center;
    margin: 1em;
}
.titulo__contatos{
    font-weight: 300;
}
.input{
    display: inline-block;
    margin: 1em;
    width: 90%;
    height: 2em;
    font-size: 20px;
}
.mensagem{
    width: 90%;
    font-size: 20px;
}
input::placeholder{
    color: var(--preto);
}
textarea::placeholder{
    color: var(--preto);
}
.paragrafo__link-contatos{
    font-size: 10px;
    font-weight: 700;
}
.submit{
    margin: 1em;
    border: none;
    width: 90%;
    height: 3em;
    background-color: var(--cor-botao-verde);
    color: var(--branco);
}
#telefone__desktop{
    display: none;
}
@media screen and (min-width: 1240px){
    .contatos{
        margin: 3em;
    }
    .titulo__contatos{
        font-weight: 500;
        font-size: 40px;
    }
    .input{
        display: inline-block;
        width: 25vw;
        margin-left: 20px;
    }
    .mensagem{
        margin-left: -50px;
        margin-top: 30px;
        width: 40vw;
        max-height: 15vh;
    }
    .container__paragrafo-submit{
        display: inline-block;
        
    }
    .paragrafo__link-contatos{
        display: inline-block;
        vertical-align: top;
        width: 200px;
        position: absolute;
        font-weight: 700;
        margin-top: -50px;
    }
    .submit{
        width: 10vw;
        position: absolute;
        margin-top: -50px;
        left: 1000px;
    }
    #telefone__desktop{
        display: inline-block;
        vertical-align: top;
        margin-top: 30px;
        width: 35vw;

    }
    #telefone__mobile{
        display: none;
    }
}
@media screen and (min-width: 1680px){
    .submit{
        left: 1400px;
    }
}